*
    padding 0
    margin 0
    border 0
    outline 0
 a
  text-decoration none
  color  black  
$color = #16dcb8

.el-input  input
  border-radius 30px
.defaulttit
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top-left-radius: 57px;
    border-bottom-right-radius: 57px;
    color: black;
    background #fff
    margin-bottom 5px
   
  .activetit
      background: -webkit-gradient(linear, left top, right top, from(#31c0e5), to(#16dbb8));
      background: linear-gradient(to right, #31c0e5, #16dbb8);
      -webkit-box-shadow: #31c0e5 2px -1px 5px;
      box-shadow: #31c0e5 2px -1px 5px;
      color: white;
  .conterdiv
    box-shadow #dedede 0 0 5px;
    background rgba(255,255,255,0.8)
    padding 20px 30px

  .inputwidth
    width: 120px !important;
    margin 0 15px
  .el-icon-view,.el-icon-edit
    color $color 

  .choosebtn 
    background $color
    color white
    border 0 
  button
    border 0  
  .delbtn 
    border 0 
    background red
    color white
    .el-icon-delete
      color white
   table
     width 100%
     margin 5px 0
     text-align center
     border 1px solid #dedede 
       
     td
       text-align center
       
       border-top 1px solid #dedede   
   th,td
     line-height 2.5
   .el-icon-circle-close
     font-size: 40px;
     color: red;
     float: right;
   i
     margin 0 5px  
  .notext
     tex-align center
     line-height 3
     color red
  .el-button--success
      background $color
      border $color
  .el-button--primary
      background $color
      border $color

 